/*
*
* STYLE.CSS
* for
* ADVENTEDGE THERAPEUTIC
*
*/

/*
*
* CSS RESET
*
*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
*
* BASE STYLES & TYPOGRAPHY
*
*/

body {
  background-color: #ffefe4;
  font-family: 'Raleway', sans-serif;
}

h1 {
	background-color: #fea336;
	color: #ffefe4;
	display: inline-block;
  font-family: 'Audiowide', sans-serif;
	font-size: 32pt;
	margin: 1em 0.5em 0 0.5em;
	padding: 0.5em;
  text-transform: lowercase;
}

h2 {
	font-size: 32pt;
	font-weight: 800;
	letter-spacing: 0.075em;
}

h3 {
	font-size: 22pt;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

p {
	color: #6f4d64;
	font-size: 17pt;
	line-height: 1.8em;
	letter-spacing: 0.05em;
	margin: 1em 0;
	padding: 0 0 0 2em;
}

a {
	color: #fea337;
	font-weight: 800;
	text-decoration: none;
}

a:hover {
	color: #6f4d64;
}

a.btn {
	background-color: #fed274;
	box-shadow: 0px 5px 25px rgba(111, 77, 100, 0.4);
	color: #6f4d63;
	display: inline-block;
	font-family: 'Audiowide', sans-serif;
	font-size: 14pt;
	letter-spacing: 0.1em;
	line-height: 1.2em;
	margin: 0 2em 0 0;
	padding: 1em;
	text-decoration: none;
	text-transform: uppercase;
}

a.btn:hover {
	box-shadow: 0px 5px 25px rgba(111, 77, 100, 0.8);
}

strong {
  font-weight: 800;
}

/*
*
* HEADER
*
*/
header {
	align-items: center;
	display: flex;
	justify-content: space-evenly;
	padding: 2em;
}

header a {
	flex: 1;
	font-size: 13pt;
	font-weight: 400;
	padding: 0.25em;
	text-decoration: none;
}

header a:nth-of-type(2) {
	text-align: right;
}

header svg {
	flex: 1;
	height: 50px;
	margin: 0 2em;
}

header span.details {
	display: inline;
}

header span.label {
	display: none;
}

/*
*
* HERO
*
*/
section#hero {
  background: url('img/hero-bg.png') left bottom no-repeat;
	padding: 50px 5% 200px 30%;
}

section#hero h1:nth-of-type(2) {
	float: right;
	margin-bottom: -1em;
}

section#hero div {
	background-color: rgba(111, 77, 100, 0.8);
	clear: both;
	padding: 3.5em 0.5em;
}

section#hero p {
	color: #ffefe4;
}

section#hero a.btn {
	margin-top: -1.5em;
	float: right;
}

section#hero em {
	color: #ffc784;
	font-weight: 800;
}

/*
*
* PROCESS
*
*/
section#process {
	clear: both;
	text-align: center;
}

section#process h1 {
	margin: -1em 0 0 0;
	position: relative;
	z-index: 10;
}

section#process div {
	display: flex;
  margin-top: -2.6em;
	position: relative;
	z-index: 1;
}

section#process div article {
	background-color: #c4b6be;
	flex: 1;
	padding: 5em 3em 3em 3em;
}

section#process div article h2 {
	color: #ffefe4;
	font-weight: 400;
	margin: 0 0 1.5em 0;
	text-transform: lowercase;
}

section#process div article h2 strong {
	color: #ffe3ab;
	display: block;
	margin: 0 0 1.5em 0;
}

section#process div article:nth-of-type(even) {
	background-color: #a893a0;
}

section#process p {
	text-align: left;
	margin: 0;
	padding: 0;
}

section#process div article:nth-of-type(even) p {
	color: #ffefe4;
}

/*
*
* ROCKTAPE
*
*/
section#rocktape {
	background-color: #ffe3ab;
	margin: 6em 0 0 0;
	padding: 0 0 4em 0;
}

section#rocktape h1 {
	margin: -1em 0 0 0.5em;
}

section#rocktape h1 svg {
	height: 60px;
	margin: -10px 0;
}

section#rocktape p {
	width: 85%
}

/*
*
* ABOUT
*
*/
section#about {
	background-color: #6f4d63;
	color: #ffefe4;
	display: flex;
	padding: 0 0 4em 0;
}

section#about h2 {
	margin: 1em 0 0 0;
	text-align: right;
}

section#about h3 {
	color: #fed275;
	margin: 1em 0 0 0;
	text-align: right;
}

section#about p {
	color: #ffefe4;
}

section#about div:nth-of-type(1) {
	flex: 2;
}

section#about div:nth-of-type(2) {
	flex: 1;
	margin: -3em 3em 0 3em;
}

section#about img {
	width: 100%;
}

/*
*
* CALLOUT
*
*/
section#callout {
	align-items: center;
	background-color: #fea337;
	display: flex;
	justify-content: center;
	padding: 1.5em;
}

section#callout h1 {
	margin: 0;
}

section#callout h3 {
	color: #ffefe4;
	font-weight: 800;
}

section#callout a.btn {
	margin: 0 1em 0 0;
}

/*
*
* CONTACT
*
*/
section#contact {
	background-color: #a893a0;
	color: #ffefe4;
	display: flex;
	margin: 0 0 5em 0;
	padding: 0 3em;
}

section#contact div {
	flex: 1;
}

section#contact div#map {
	margin: 3em 0 -3em 0;
}

section#contact div:nth-of-type(2) {
	padding: 8em 0 3em 3em;
}

section#contact h2 {
	margin: 1em 0 0.5em 0;
}

section#contact h3 {
	margin: 0.5em 0;
}

section#contact div#map iframe {
	border: 10px solid #6f4d63;
	box-sizing: border-box;
	height: 700px;
	width: 100%;
}

/*
*
* FOOTER
*
*/
footer p {
	/*margin: 0 0 0 2em;*/
	text-transform: uppercase;
}

footer p#claim {
	font-size: 0.8em;
	margin-left: 1.65em;
	text-transform: uppercase;
}

/*
*
* MEDIA QUERIES
*
*/
@media (max-width: 1110px) {
	section#callout {
		flex-direction: column;
	}

	section#callout h1 {
		padding-top: 0;
	}

	section#callout a.btn {
		margin: 0 0 1em 0;
	}
}

@media (max-width: 990px) {
	header a {
		font-size: 10pt;
	}

	header svg {
		height: 40px;
	}

	section#hero {
		background: url('img/hero-bg.png') -100px bottom no-repeat;
		padding: 50px 5% 200px 20%;
	}

	section#process div {
		flex-direction: column;
	}

	section#process div article h2 {
		margin: 0px 0 0.5em 0;
	}

	section#process div article h2 strong {
		margin: 0px 0 0.5em 0;
	}

	section#process div article {
		padding-top: 3em;
	}

	section#process div article:nth-of-type(1) {
		padding-top: 5em;
	}
}

@media (max-width: 790px) {
	p {
		padding: 0 1em;
	}

	header svg {
		flex: 2;
	}

	header a {
		flex-basis: auto;
	}

	header span.details {
		display: none;
	}

	header span.label {
		display: inline;
	}

	section#hero {
		padding: 0 5% 200px 5%;
	}

	section#hero a.btn {
		margin: -1.5em 2em 0 2em;
	}

	section#contact {
		flex-direction: column;
		margin: 0 0 2em 0;
	}

	section#contact div#map {
		margin: 3em 0;
	}

	section#contact div#map iframe {
		height: 300px;
	}

	section#contact div:nth-of-type(2) {
		padding: 0 3em 3em 3em;
	}

	section#rocktape h1 {
		line-height: 1.2em;
	}

	section#rocktape h1 svg {
		margin: 0 0 -15px 0;
	}

	section#about {
		flex-direction: column;
	}

	section#about h2 {
		margin: 1em 1em 0 0;
	}

	section#about h3 {
		margin: 1em 1.5em 0 0;
	}

	section#about div:nth-of-type(2) {
		order: -1;
	}
}

@media (max-width: 717px) {
	header {
		flex-direction: column;
	}

	header a {
		font-size: 17pt;
	}

	header svg {
		height: 50px;
		margin: 2em 0;
		flex: 5;
	}
}

@media (max-width: 540px) {
	h1 {
		font-size: 26pt;
	}

	h2 {
		font-size: 26pt;
	}

	h3 {
		font-size: 17pt;
	}

	p {
		font-size: 14pt;
		line-height: 1.65em;
		margin: 1.5em 0;
	}

	section#callout h1 {
		text-align: center;
	}

	section#contact h3 {
		line-height: 1.2;
	}
}

@media (max-width: 420px) {
	header svg {
		height: 35px;
	}

	section#contact div:nth-of-type(2) {
		padding: 0 0 3em 0;
	}
}
